body {
    font-family: 'Share Tech Mono', monospace;

background-size: 100% 100%;
background-image: url(../Images/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}




    .card {
        box-shadow: 0 5px 15px 0 rgba(34, 87, 167, 0.25);
        margin-bottom: 40px;
        
        border-radius: 10px;
        height: 400px;
        
    }

    

    .smoke {
        border: #2b2843 solid 1px;
        border-radius: 50%;
        box-shadow: 0 5px 15px 0 rgba(34, 87, 167, 0.25);
    }

    .smoke:hover {
        transform: scale(1.1);
        box-shadow: 0 5px 15px 0 rgba(34, 87, 167, 0.25);
    }

    #prodImg {
        width: 70px;
        height: auto;
        border-radius: 5px;
        margin-left: 10px;
        margin-top: 10px;
        
    }
    

